@font-face {
  font-family: 'app-MADEW'; 
  src: url('style/fonts/MADEWaffleSoftPERSONALUSE.otf'); /* IE9 Compat Modes */ 
} 
.App {
  text-align: center;
  background: rgb(47,47,47);
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.name-view h1{
  font-family: app-MADEW;
  font-size: 4.3rem;
  margin: 0;
  color: white;   
  cursor: default; 
}
#logo-text-right{
  position: absolute;
  bottom: 0; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 12px;
  color: #a22424;
  cursor: default; 
}
#logo-text-left{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 12px;
  color: #a22424;
  cursor: pointer; 
}
#logo-text-left:hover{
  color: white;
}
#private-info{  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 0.8em;
  color: white;
  cursor: pointer; 
  text-align: left;  
  padding: 0;  
  max-width: 300px; 
}
#right-arrow-left-box{
  position: absolute;
  bottom: 0;
  right: 20px; 
  font-size: 40px;
  cursor: pointer; 
  z-index: 99999;
}
.app-main{
  width:100%;
  height: 400px; 
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.game-view{
  position: absolute; 
  width: 95%;
  height: 300px; 
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.game-col{
  flex-grow: 1;
  width: 100%;
  height: 3000px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.game-col div{
  width: 100%;  
}
.col-item-inside{
  width: 95%;
  height: 90px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container{ 
  background: #2f2f2f; 
  border-radius: 10px;
  height: 300px;
  width: 95%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
   -moz-box-shadow:    inset 0 0 10px #000000; 
   -webkit-box-shadow: inset 0 0 10px #000000; 
   box-shadow:         inset 0 0 10px #000000; 
}
.col-item{ 
  height: 100px;
  width: 100%; 
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-icon{
  width: 70%;
  height: 100px; 
  border: 1px dashed #a22424;
  background-color: rgba(0,0,0,1);
  border-radius: 5px;
  padding: 10px;
  color: white;
}
#result{
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#image-me{
  width: 150px;
  height: 150px;
  z-index: 9999;
  opacity: 0.5; 
}
.left-box-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-row-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #ccc373;  
}
img{
  object-fit:contain;
   width: 100%;
   height: 100%; 
}
#game-over-title{
  position: absolute;
  top: 0; 
  font-weight: bold;
  right: 30px;
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.anim, .anim svg {
  position: absolute; 
  left: 0;
  width: 600px;
  height: 600px;
  opacity: 0.8;
}
.anim path {
  stroke-width: 2;
}
.main-col{
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.main-col-inside{
  position: relative; 
  background: #2f2f2f; 
   -moz-box-shadow:    inset 0 0 10px #000000; 
   -webkit-box-shadow: inset 0 0 10px #000000; 
   box-shadow:         inset 0 0 10px #000000; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: 1s;
   flex-grow: 1;
}
#right-box{
  width: 95%; 
  height: 85%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: rgba(255,255,255,0.3);
}
#mid-col{ 
  height: 100%; 
} 
#left-col,#right-col{ 
  height: 80%;   
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} 
#left-col-info-box{
  height: 100%; 
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end; 
  margin: 0;
  width: 100%;  
  padding-left: 20px;
}
#left-col-contact-box{
  /* width: 100%;  */
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-right: 20px;
}
#right-col:hover{ 
  height: 120%; 
}
#left-col{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-title{
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-title h1{
  color: white;
  font-family: app-MADEW;
}
.name-view{  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#projects-right-box{ 
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 99999;

}
#projects-right-gallery{
  height: 70%;
  background-color: rgba(255,255,255,0.6);
  width: 80%;
  padding: 10px; 
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
} 
#about-projects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
#about-projects p{
  margin: 0; 
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  text-align: left;
  font-size: 0.8em;
}
#about-projects p:nth-child(1){
  font-size: 20px;
  color: #a22424;
  margin-bottom: 10px;
}
#img-iphone-box{
  height: 100%;
  width: 50%; 
  z-index: 99999;
}
#img-iphone{
  object-fit: contain;
}
#projects-title{
  font-size: 1.5vw;
  color: white;
  font-family: app-MADEW;
  margin: 0;
  margin-bottom: 10px;
}
#about-btn-git{
  width: 100%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
}
#about-btn-git p{
  font-size: 20px;
  color: #a22424;
  font-weight: bold;
  margin-right: 5px;
}
#about-btn-git a{
  font-size: 0.8em;
  color: black;
  font-weight: bold; 
  padding-top: 5px;
}
.game-dashboard{
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 18px;
  padding-left: 150px;
}
.game-dashboard-btn{ 
  width: 100px; 
  height: 100%; 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; 
}
 
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
#box .content,#box-win {
  height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center; 
}

#box ,#box-win{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
  overflow: hidden; 
}
#box-win::before{
	content: '';
	position: absolute;
	width: 3000px;
	height: 3000px;
	background: repeating-linear-gradient(
			#a22424 0%,
			#a22424 7.5px,
			#ccc373 7.5px,
			#ccc373 15px,
			#a22424 15px,
			#a22424 22.5px,
			#ccc373 22.5px,
			#ccc373 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 20s linear infinite;
}
#box::before {
	content: '';
	position: absolute;
	width: 3000px;
	height: 3000px;
	background: repeating-linear-gradient(
			#2f2f2f 0%,
			#2f2f2f 7.5px,
			#a22424 7.5px,
			#a22424 15px,
			#2f2f2f 15px,
			#2f2f2f 22.5px,
			#a22424 22.5px,
			#a22424 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 60s linear infinite;
}

#box .content {
	position: relative;
  background: #fff; 
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}
 
#box,#box-win,
#box .content {
	box-shadow: 0 0 2px black,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 10px;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  background: #2f2f2f; 
} 
.content-win{ 
	position: relative;
  background: #fff; 
	flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
	text-align: center;
	font-family: sans-serif;
	z-index: 2;
}
@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1) rotate(0deg); 
  }
  50% {
    -webkit-transform: scale(1.1) rotate(-5deg); 
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg); 
  }
}
@-o-keyframes pulse {
  0% {
    -o-transform: scale(1) rotate(0deg); 
  }
  50% {
    -o-transform: scale(1.1) rotate(-5deg); 
  }
  100% {
    -o-transform: scale(1) rotate(0deg); 
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1) rotate(0deg); 
  }
  50% {
    -moz-transform: scale(1.1) rotate(-5deg); 
  }
  100% {
    -moz-transform: scale(1) rotate(0deg); 
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg); 
  }
  50% {
    transform: scale(1.1) rotate(-5deg); 
  }
  100% {
    transform: scale(1) rotate(0deg); 
  }
}

@-webkit-keyframes bump {
0% {
    top: 0;
}
5% {
    top: 3px;
}
10% {
    top:0;
}
100% {
    top:0;
}
}
@-o-keyframes bump {
0% {
    top: 0;
}
5% {
    top: 3px;
}
10% {
    top:0;
}
100% {
    top:0;
}
}
@-moz-keyframes bump {
0% {
    top: 0;
}
5% {
    top: 3px;
}
10% {
    top:0;
}
100% {
    top:0;
}
}
@keyframes bump {
0% {
    top: 0;
}
5% {
    top: 3px;
}
10% {
    top:0;
}
100% {
    top:0;
}
}

.menuBall {
  position: relative; 
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ball {
  position:absolute;
  width:100%;
  height:100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px dashed black;
  margin: 10px;
  text-decoration: none;
}

.ball:hover {
  -webkit-animation: pulse 1s ease 0s infinite normal;
  -o-animation: pulse 1s ease 0s infinite normal;
  -moz-animation: pulse 1s ease 0s infinite normal;
  animation: pulse 1s ease 0s infinite normal;
}
 p{
   cursor: default;
 } 
.rotate {  
  background-color: #61639e;
  cursor: pointer;
}
 .restart{
  background-color: #245656;
  cursor: pointer;
 }
.menuText {
  font-family: 'IdolwildRegular' , Verdana, Helvetica, Sans-Serif;
  font-size: larger;
  color: black;
  position: relative;
  /* font-size: 0.8em; */
  /* font-weight: bold; */
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  top: 15%;
} 
#menuBall1 {
-webkit-animation: bump 6s linear 0s infinite normal;
} 

#menuBall1 {
-moz-animation: bump 6s linear 0s infinite normal;
} 

#menuBall1 {
-o-animation: bump 6s linear 0s infinite normal;
} 
#menuBall1 {
animation: bump 6s linear 0s infinite normal;
} 
 


.image-hover * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.image-hover {position:relative;width:150px;height:150px;display:inline-block; border: 0;padding-top: 50px; }
.image-hover {margin:20px 20px 20px 0px}



.img-shadow-1
{
-webkit-box-shadow: 0 28px 16px -26px black;
-moz-box-shadow: 0 28px 16px -26px black;
box-shadow: 0 28px 16px -26px black;
}

.img-shadow-1:hover
{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);

-webkit-box-shadow: 0 58px 36px -56px black;
-moz-box-shadow: 0 58px 36px -56px black;
box-shadow: 0 58px 36px -56px black;
}

.img-shadow-1
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-shadow-1:hover
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

#contact-me-box{
  position: absolute;
  display: flex;
  flex-direction: column;
	align-items: flex-end;
	justify-content: center;
  opacity: 0;
  right: -350px; 
  height: 100%;  
}
#contact-me-form{ 
  display: flex;
  flex-direction: column;
	align-items: flex-start;
  justify-content: center;  
  width: 280px;
  height: 90%; 
  background-color: rgba(0,0,0,0.3); 
} 
#form-submit-btn{ 
  width:100%;  
  display: flex;
  flex-direction: column;
	align-items: center;
  justify-content: center; 
}
#img-me-box{
  position: absolute;
  left:-350px;
  width: 50%;
  height: 100px; 
  opacity: 0;
  top:60px;
  display: flex;
  flex-direction: row;
	align-items: center;
	justify-content: flex-start; 
}
#img-me{
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: center;   
  overflow: hidden;
  padding-left: 28px;
  max-width: 150px;
  height: 100%;
}
#img-me-text{ 
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: center; 
  max-width: 200px; 
  padding-left: 5px;
  margin: 0;
  text-align: left;
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 0.8em; 
  padding-left: 10px;
} 
#project-btn{
  font-size:40px;
  margin:0; 
  border: 2px dashed #a22424;
  padding-bottom: 10px; 
  /* margin-left: 20px; */
  vertical-align: middle;
  text-align: center;
  position: absolute;
  /* bottom:0; */
  color: #a22424;
  cursor:pointer;
  font-weight:bold;
  transform: rotate(15deg);
  background: rgba(255,255,255,0.9);
}
#img-box{
  width: 150px;
  height: 150px;
  padding-top: 50px; 
}
img{
  object-fit: cover;
  /* border-radius: 75px; */
}
.MuiInput-underline:after{
border-bottom: 2px solid white !important;
} 
.input-app-inside{  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px; 
}
#msg-form-textarea{
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0,0.2);
  overflow: hidden;
  resize: none;
  color: white;
  font-size: 0.8em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#msg-form-textarea:focus{  
  outline:0;
  border: 2px solid white !important; 
}
.input-app-msg{  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px; 
    width: 250px; 
    font-weight: bold;
}

.img-rotate-right img 
{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-rotate-right:hover img 
{
  transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  -o-transform:rotate(-20deg)
}
@media only screen and (max-width: 1250px){ 
  .app-main{
    padding-top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    display: none;
  }
  .main-col{
    width: 80vw;
    height: 100vh;
  } 
  #left-col, #right-col {
    height: 100%;
  }
}